.Drawer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    padding: 25px 0px;
    box-sizing: border-box;
    background: linear-gradient(230deg, #DCDCDC 60%, #095ad3 60%);
    border-right: 7px solid #095ad3;
    transform: translate(0px);
    transition: transform .3s ease-in-out;
    z-index: 90;
}

.Drawer.close {
    transform: translateX(-300px);
}

.Drawer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Drawer ul li {
    margin-bottom: 15px;
    cursor: pointer;
}

.Drawer ul li a {
    display: flex;
    justify-content: space-between;
    color: #0c101d;
    font-size: 31px;
    text-decoration: none;
    background-color: #DCDCDC;
    position: relative;
    padding: 0 20px 10px 20px;
    transition: opacity .6s;
}

.Drawer ul li a:hover, .active {
    color: #7a7a7a;
    transition: color .2s ease-in-out;
}

.Drawer ul li i {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    margin-top: 12.5px;
}