@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap');

.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(29, 133, 8) 30%, rgb(9, 108, 207) 67%);
}

.Quiz h1 {
    font-family: 'Pragati Narrow', sans-serif;
    letter-spacing: 0.04em;
    color: #dcdcdc;
    text-align: center;
}

.QuizWrapper {
    width: 600px;
}