.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(29, 133, 8) 30%, rgb(9, 108, 207) 67%);
}

.Quiz h1 {
    color: #fff;
    margin-left: 10px;
}

.QuizWrapper {
    width: 600px;
}