@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap');

.QuizCreator {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(184, 108, 10) 30%, rgb(9, 108, 207) 67%);
}

.QuizCreator > div {
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
}

.QuizCreator h1 {
    text-align: center;
    color: #dcdcdc;
    font-family: 'Pragati Narrow', sans-serif;
    letter-spacing: 0.04em;
}

.QuizCreator form {
    background: #181717;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.QuizCreator form label {
    color: #fff;
}

.QuizCreator form input {
    display: inline;
}

.divBtn {
    display: flex;
    justify-content: center;
}