.Auth {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    background: linear-gradient(to bottom right, rgb(184, 108, 10) 30%, rgb(9, 108, 207) 67%);
}

.Auth > div {
    padding: 0 20px;
    width: 100%;
    max-width: 410px;
}

.Auth h1 {
    color: #dcdcdc;
    text-align: center;
}

.AuthForm {
    background: rgb(24, 23, 23);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    padding: 40px 25px;
    border-radius: 10px;
    height: 290px;
}


.AuthForm label {
    color: #fff;
}

.AuthForm Button {
    margin-top: 10px;
    margin-left: 28px;
}
