@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap');

.Auth {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    background: linear-gradient(to bottom right, rgb(184, 108, 10) 30%, rgb(9, 108, 207) 67%);
}

.Auth > div {
    padding: 0 10px;
    width: 100%;
    max-width: 400px;
}


.AuthForm {
    background: #181717;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    padding: 30px 20px;
    border-radius: 10px;
    height: 400px;
}

.formRegAuth {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    color: #dcdcdc;
    margin-top: -25px;
    border-bottom: 2px solid #fff;
}

.formRegAuth h2 {
    cursor: pointer;
    font-size: 28px;
}


.AuthForm label {
    color: #fff;
    margin-top: 30px;
}

.formBtn  {
    padding-top: 25px;
    padding-left: 17.5px;
    display: flex;
    justify-content: center;
    position: relative;
}
