.passView {
    width: 23px;
    font-size: 23px;
    cursor: pointer;
    position: absolute;
    margin-top: -64px;
    left: 50%;
    right: 50%;
    margin-left: 135px;
    color: #DCDCDC;
    transition: opacity, left .3s ease-in-out;
    z-index: 40;
}