.MenuToggle {
    position: fixed;
    top: 45px;
    left: 50px;
    font-size: 35px;
    cursor: pointer;
    color: #DCDCDC;
    transition: opacity, left .3s ease-in-out;
    z-index: 100;
}

.MenuToggle:hover {
    opacity: .6;
}

.MenuToggle.open {
    left: 340px;
}